.title1 {
    -fx-font-size: 25px;
    -fx-font: "Arial";
    -fx-fill: #EBECB8;
}

.text-field1 {
    -fx-font-family: "Quicksand";
    -fx-font-size: 14;
    -fx-border-color: #975722;
    -fx-background-color: #A6E0E7;
    -fx-text-fill: brown;

    -fx-border-radius: 5;
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 0 0 10 0;

    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 3, 0, 1);
}

:hover {
     -fx-text-fill: #975722;
     -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.75), 5, 3, 0, 1);
 }

.error {
    -fx-font-size: 12px;
    -fx-font: "Arial";
    -fx-fill: #810000;
}

.button1 {
    -fx-max-width: 300px;
    -fx-background-color: darkred;
    -fx-text-fill: gold;
    -fx-font-size: 20px;
    -fx-font-family: sans-serif;
    -fx-border-radius: 5px;
    -fx-cursor: pointer;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 3, 0, 1);
    -fx-background-insets: 0 0 10 0;
    -fx-background-radius: 10;
    -fx-padding: 10 10 10 10;
    -fx-text-alignment: center;
    -fx-font-weight: bold;
}

